@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}

body {
    /* background: linear-gradient(90deg,#22232a 0%, #353541 80%); */
    background: linear-gradient(135deg, hsla(232, 11%, 15%, 1) 30%, hsla(0, 5%, 16%, 1) 100%);
    min-height: 100vh;
}

/* Loader */

.loaderContainer {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background: #131416;
}
.ring {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
    0%{ transform: rotate(0deg);
        box-shadow: 1px 5px 2px #219ebc;}
    50%{transform: rotate(180deg);
        box-shadow: 1px 5px 2px rgba(182, 66, 46, 0.767);}
    100%{   transform: rotate(360deg);
            box-shadow: 1px 5px 2px #219ebc;}
}
.ring::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    min-height: 100%;
    width: 100%;
    border-radius: 50%;
}
span {
    color: #f5f5fa;
    font-size: 1vw;
    filter: opacity(1);
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 200px;
    animation: loading 3s ease-in-out infinite;
}
@keyframes loading {
    50%{filter: opacity(0);}
}
.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
    z-index: 0;
}

/* Title design + PP */

header {
    display:flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
header h2 {
    font-size: 10vw;
    width: fit-content;
}
header h2.last {
    color: #219ebc;
    text-shadow: 10px 10px 20px #16161aa8;
    margin-top: -10rem;
    margin-left: 5rem;
    transition: 1s ease-in-out;
}
header h2.first {
    color: #f5f5fa;
    font-weight:lighter;
    text-shadow: 10px 10px 20px #16161aa8;
    margin-top: -10rem;
    margin-bottom: 2.5rem;
    margin-left: 15%;
    transition: 1s ease-in-out;
}

header .imgContainer {
    background: url(./assets/pp.jpg) no-repeat center/cover;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    margin-left: 65%;
    position: absolute;
    margin-top: 5rem;
    border-bottom: 3px solid #219ebc;
    box-shadow: 6px 6px 20px #16161aa8;
    animation: kisuke 3s linear infinite both;
}
@keyframes kisuke {
    0%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    100%{transform: rotate(5deg);}
}

.border {
    width: 0%;
    margin-left: 50%;
    height: 2px;
    margin-top: 1.5rem;
    margin-bottom: 0;
    transform: translateX(-50%);
    border-top: 1px solid #219ebc;
    box-shadow: 0 5px 20px #16161aa8;
    z-index: -5;
    transition: 2.5s ease-in-out;
}

/* Bubbles design */

.bubbles {
    margin-top: 5rem;
    padding: 1.5rem;
    color: #f5f5fa;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
}

/* Bio bubble */

.bubbles .bioContainer {
    border: 2px solid #219ebc;
    box-shadow: 4px 4px 20px #f5f5fa1c;
    width: 8vw;
    height: 8vw;
    margin-left: 42%;
    transform: translateX(-42%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.bubbles .bioContainer img {
    margin-left: 8%;
    width: 4vw;
}
.bubbles .bioContainer:hover {
    background: #219ebc;
    transform: translateX(-42%) scale(1.1);
}

/* School bubble */

.bubbles .diplomaContainer {
    border: 2px solid #219ebc;
    box-shadow: 4px 4px 20px #f5f5fa1c;
    width: 5vw;
    height: 5vw;
    margin-left: 58%;
    transform: translateX(-58%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.bubbles .diplomaContainer img {
    width: 2vw;
}

.bubbles .diplomaContainer:hover {
    background: #219ebc;
    transform: translateX(-58%) scale(1.1);
}

/* Projects bubble */

.bubbles .projectsContainer {
    border: 2px solid #219ebc;
    box-shadow: 4px 4px 20px #f5f5fa1c;
    width: 15vw;
    height: 15vw;
    margin-left: 42%;
    transform: translateX(-42%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.bubbles .projectsContainer img {
    width: 8vw;
}

.bubbles .projectsContainer:hover {
    background: #219ebc;
    transform: translateX(-42%) scale(1.1);
}

/* Hobbies bubble */

.bubbles .hobbiesContainer {
    border: 2px solid #219ebc;
    box-shadow: 4px 4px 20px #f5f5fa1c;
    width: 12vw;
    height: 12vw;
    margin-top: -4rem;
    margin-left: 58%;
    transform: translateX(-58%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.bubbles .hobbiesContainer img {
    width: 6vw;
}

.bubbles .hobbiesContainer:hover {
    background: #219ebc;
    transform: translateX(-58%) scale(1.1);
}

/* Professionnal bubble */

.bubbles .proContainer {
    border: 2px solid #219ebc;
    box-shadow: 4px 4px 20px #f5f5fa1c;
    width: 5vw;
    height: 5vw;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.bubbles .proContainer img {
    width: 2vw;
}
.bubbles .proContainer:hover {
    background: #219ebc;
    transform: translateX(-50%) scale(1.1);
}

/* Design footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #22232a8e;
    box-shadow: 0px -5px 20px #f5f5fa1a;
    height: fit-content;
    padding: 2rem;
    bottom: 0;
}
.piedpage {
    width: 100%;
    height: 1px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    border-top: 1px solid rgba(182, 66, 46, 0.767);
    animation: piedpage 4s linear infinite;
}
@keyframes piedpage {
    0%{width: 100%;}
    50%{width: 25%;}
    100%{width: 100%;}
}

footer .footer {
    text-align: center;
    color: #f5f5fa;
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-weight: lighter;
}
footer h2 {
    font-size: 3vw;
    color: #f5f5fa;
    position: absolute;
    font-weight: lighter;
    height: fit-content;
}
footer .footer .logo1, footer .footer .logo2, footer .footer .logo3 {
    width: 80px;
    padding: 1rem;
    margin: 5rem 2rem 0 2rem;

    filter: invert(1) opacity(0.75);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 50%;

    animation: rotation 2s linear infinite both;
}
footer .footer img {
    width: 2vw;
}
footer .footer .logo1:hover,
footer .footer .logo2:hover,
footer .footer .logo3:hover{
    background-color: #219ebc;
}
@keyframes rotation {
    0%{transform: rotate(15deg);}
    50%{transform: rotate(-15deg);}
    100%{transform: rotate(15deg);}
}

/* Design resume.html */

/* .resume {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #f5f5fa;
}
.resume h1 {
    border: 1px solid blue;
    width: fit-content;
    font-size: 8vw;
    margin: 4rem auto;
    margin-bottom: 2rem;
    text-shadow: 10px 10px 20px #16161aa8;
}
.resume .resumeParagraph {
    border: 1px solid greenyellow;
    width: 50%;
    padding: 1.5rem;
    font-size: 1.3vw;
    font-weight: lighter;
}
.resumeImage {
    border: 1px solid red;
    width: 50%;
    height: 100px;
    padding: 1.5rem;
} */

.resume {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    color: #f5f5fa;
    }
    
.resume h1 {
    grid-area: 1 / 2 / 2 / 5;
    width: fit-content;
    margin: 2rem auto;
    text-shadow: 10px 10px 20px #16161aa8;
    font-size: 6vw;
}
.resume h1 span {
    grid-area: 1/2/2/5;
    width: fit-content;
    text-shadow: 10px 10px 20px #16161aa8;
    font-size: 6vw;
    animation: none;
    text-transform: lowercase;
    color:#219ebc;
    margin: 0;
    padding: 0;
}
.resumeParagraph {
    grid-area: 2 / 1 / 6 / 4;
    font-size: 1.3vw;
    background: #2d2d34;
    box-shadow: 10px 10px 20px #16161aa8;
    font-weight: lighter;
    margin-left: 1.5rem;
    padding: 1.5rem;
    border-radius: 20px;
    height: fit-content;
    text-align: center;
}
.resumeImage {
    grid-area: 2 / 4 / 6 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-left: 5rem;
    background: #34353c;
    box-shadow: 10px 10px 20px #16161aa8;
    height: 30vw;
    border-radius: 25% 10%;
}
.imageContainer {
    width: 25vw;
    height: 25vw;
    box-shadow: 10px 10px 20px #16161aa8;
    border-radius: 25% 10%;
    opacity: 0.75;
    background: url(./assets/code.jpg) no-repeat center/cover;
}